<?php

namespace Config\Environments;
/**
*
*/

class Development
{
	static public $config = array(
		'base_url' =>  'http://localhost/',
		'database' => array(
			'host'     => '',
			'username' => '',
			'password' => '',
			'database' => ''
			)
		);
}
